<h2>Restaurants</h2>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %>
    <%= link_to "Delete", restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
<% end %>
</ul>
<%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-primary" %>
